.App
{
  background-color: #282c34;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.App-header {
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center;

}
.button_form {
  height: calc(30px + 3vmin);
}
.button_site {
  font-size: calc(8px + 1vmin);
  height: calc(12px + 3vmin);
  margin: 1em;
  float: right;
}